<nav class="navbar navbar-light bg-light px-2 fixed-bottom p-0 text-center">
  <a class="navbar-brand title-font d-inline" href="#home">GiovanniEmanueleLongo.it</a>
  <div class="d-inline">
    <a class="navbar-brand me-0 text-end" target="_blank" href="mailto: giovanniemanuelelongo@gmail.com"><img src="assets/icons/email.svg"/></a>
    <a class="navbar-brand me-0 text-end" target="_blank" href="https://www.linkedin.com/in/giovanni-emanuele-longo-716b2a100/"><img src="assets/icons/linkedin.svg"/></a>
    <a class="navbar-brand me-0 text-end" target="_blank" href="https://github.com/giolongo"><img src="assets/icons/github.svg"/></a>
  </div>
</nav>
