<nav class="navbar navbar-expand-lg navbar-light bg-light px-2 fixed-top">
  <a class="navbar-brand title-font fs-2" href="#">GiovanniEmanueleLongo.it</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarColor03" aria-controls="navbarColor03"
          aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarColor03" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let menuItem of menu">
        <a class="nav-link cursor-pointer" (click)="changeRef.emit(menuItem.link); isCollapsed = !isCollapsed"
           [ngClass]="{'bold': selectedItem === menuItem.link}">{{menuItem.title | translate}} </a>
      </li>
    </ul>
    <div ngbDropdown class="d-inline-block navbar-brand mr-0 ml-auto">
      <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
        <img [src]="'assets/flag/'+selectedLang+'.jpg'" height="15" width="20">
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="changeLang.emit('it')" ngbDropdownItem>
          <img src="assets/flag/it.jpg" height="15" width="20"> {{'it' | translate}}
        </button>
        <button (click)="changeLang.emit('en')" ngbDropdownItem>
          <img src="assets/flag/en.jpg" height="15" width="20"> {{'en' | translate}}
        </button>
      </div>
    </div>
  </div>
</nav>
