#home {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("/assets/home.png");
}

#home p{
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  display: block;
}


#home p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}
