/* You can add global styles to this file, and also import other style files */
.bold {
  font-weight: bold
}

@font-face {
  font-family: 'title-font';
  src: url('./assets/font/maghrib.ttf');
}

.title-font {
  font-family: 'title-font', serif;
}

html{scroll-behavior:smooth}

html{scroll-behavior:smooth}
