/* You can add global styles to this file, and also import other style files */
.bold {
  font-weight: bold
}

@font-face {
  font-family: 'title-font';
  src: url('./assets/font/maghrib.ttf');
}

.title-font {
  font-family: 'title-font', serif;
}

.cursor-pointer {
  cursor: pointer;
}

section{
  padding-top: 150px;
  padding-bottom: 150px;
}
html, body { height: 100%; }
